<app-navbar-loggedin></app-navbar-loggedin>
<div class="form_container" *ngFor="let employee of employeeObject">
  <h1>{{ employee.firstName }} {{ employee.lastName }}-- UID: {{employee.userId}}  </h1>
  <div class="edit__form">
      <div class="title">
          <h1>View</h1>
      </div>
      <div class="rows">
          <div class="row">
              <div class="input">
                  <label for="firstName">First Name</label>
                  <span class="view__field"> {{ employee.firstName }}</span>
              </div>
              <div class="input">
                  <label for="lastName">Last Name</label>
                  <span class="view__field">{{ employee.lastName }}</span>
              </div>
              <div class="input">
                  <label for="email">Email</label>
                  <span class="view__field">{{employee.email}}</span>
              </div>
          </div>
          <div class="row">
              <div class="input">
                  <label for="address">Address</label>
                  <span class="view__field">{{ employee.address }}</span>
              </div>
              <div class="input">
                  <label for="city">City</label>
                  <span class="view__field">{{ employee.city }}</span>
              </div>
              <div class="input">
                  <label for="state">State</label>
                  <span class="view__field">{{employee.state}}</span>
              </div>
          </div>
          <div class="row">
              <div class="input">
                  <label for="zip">Zip Code</label>
                  <span class="view__field">{{ employee.zip }}</span>
              </div>
              <div class="input">
                  <label for="cellPhone">Cell Phone</label>
                  <span class="view__field">{{ employee.cellPhone }}</span>
              </div>
              <div class="input">
                  <label for="homePhone">Home Phone</label>
                  <span class="view__field">{{ employee.homePhone }}</span>
              </div>
          </div>
          <a href="/employee/{{employee.id}}/edit"><button id="confirm_changes_btn" type="submit">Edit Employee</button></a>
      </div>
  </div>
  <a href="/employee/all"><button id="list_return_btn">Back to list</button></a>
</div>
