.employee-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h1 {
    width: 40%;
    margin: 0 auto;
  }

  div {
    h1{
      padding-top: 20px;
      margin: 0 auto;
    }

    table {
      tbody {
        app-employee-item {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
        }
        tr {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          th {
            margin: 0;
            padding: 5px;
            border: 1px solid black;
          }
        }
      }
    }
  }
}


.container {
  div {
      display: flex;
      justify-content: center;
      width: 100vw;
      h1 {
          text-align: center;
          padding-bottom: 10px;
          border-bottom: 1px solid black;
      }
  }
}

table {
  width: 60vw;
  margin: 10px auto;
  text-align: center;
  border: 1px solid black;
  background-color: white;

  th {
      padding: 5px;
      border-bottom: 1px solid black;
  }
}
.form_container {
  width: 100%;
  border-top-left-radius: 20px;

  #list_return_btn {
      display: flex;
      margin: 0 auto;
      border: none;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(72, 114, 252);
      color: white;
      font-weight: bold;
      transition: 300ms;

      &:hover {
          cursor: pointer;
          box-shadow: 0 0 0 3px rgba(72, 114, 252, 0.8);
      }
  }

  h1 {
      text-align: center;
  }

  .edit__form {
      display: flex;
      flex-direction: column;
      margin: 20px auto;
      height: 450px;
      width: 900px;
      background-color: white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      #confirm_changes_btn:disabled {
          width: 200px;
          height: 40px;
          margin: 20px auto;
          border: none;
          border-radius: 10px;
          color: white;
          background-color: rgb(82, 82, 82);
          transition: 250ms;
          font-weight: bold;

          &:hover {
              cursor: pointer;
              box-shadow: 0 0 0 3px rgba(82, 82, 82, 0.8);
          }
      }

      #confirm_changes_btn {
          width: 200px;
          height: 40px;
          margin: 20px auto;
          border: none;
          border-radius: 10px;
          color: white;
          background-color: darkgreen;
          transition: 250ms;
          font-weight: bold;

          &:hover {
              cursor: pointer;
              box-shadow: 0 0 0 3px rgba(0, 100, 0, 0.8);
          }
      }

      #delete_btn {
          width: 200px;
          height: 40px;
          margin: 20px auto;
          border: none;
          border-radius: 10px;
          color: white;
          background-color: rgb(119, 0, 0);
          transition: 250ms;
          font-weight: bold;

          &:hover {
              cursor: pointer;
              box-shadow: 0 0 0 3px rgba(119, 0, 0, 0.8);
          }
      }

      .title {
          background-color: black;
          color: white;
          margin-bottom: 20px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;

          h1 {
              text-align: center;
              border-top-left-radius: 20px;
              border-top-right-radius: 20px;
          }
      }

      .rows {
          display: flex;
          flex-direction: column;
          width: 90%;
          height: 100%;
          margin: 0 auto;

          .choices {
              display: flex;
              margin: 0 auto;
              width: 50%;
          }

          .row {
              display: flex;
              width: 100%;
              justify-content: space-around;
              margin: 15px 0;

              .input {
                  display: flex;
                  flex-direction: column;
                  width: 230px;

                  .errors {
                      margin: 2px;
                      font-size: 0.8rem;
                      color: red;
                  }

                  label {
                      font-weight: bold;
                  }

                  .view__field {
                      background-color: lightgrey;
                      min-height: 20px;
                      padding: 2px;
                  }

                  input:invalid {
                      border: 1px solid red;
                  }
              }
          }
      }
  }
}
